{% extends "webapp/base.html" %}
{% block content %}
{% load static %}

<!-- Hero Section -->
<section class="bg-blue-900 py-16 text-white">
    <div class="container mx-auto px-4">
        <div class="text-center">
            <h1 class="text-4xl font-bold mb-4">About Smart Legal Group</h1>
            <p class="text-lg font-light">Your Trusted Partners in Legal Excellence</p>
            <p class="text-lg font-light">Serving Clients with Dedication and Integrity</p>
        </div>
    </div>
</section>


<!-- Main Section -->
<section class="py-12 bg-gray-100">
    <div class="container mx-auto px-4">
        {% for item in aboutus %}
        <div class="flex flex-wrap justify-center text-left mb-140">
            <div class="w-full lg:w-6/12 px-4">
                <h2 class="text-3xl font-semibold">{{ item.title | safe }}</h2>
                <p class="text-lg leading-relaxed m-4 text-gray-600">{{ item.content | safe }}</p>
            </div>
        </div>
        <div class="flex justify-center">
            <img src="{{ item.img.url }}" alt="{{ item.title }}" class="max-w-full rounded-lg shadow-lg" />
        </div>
        {% endfor %}
    </div>
</section>

{% endblock content %}
