{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title> / SMARTLEGAL GROUP / </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />

	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
					
						<center><a href="/">	<img src="{% static 'images/logo.png'%}" class="img-responsive"> </a></center>
						
					


					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="/">Home</a></li>
								<li>
									<a href="/services">SERVICES</a>
									<ul>
										<li><a href="#">credit repair</a></li>
										<li><a href="#">Tradelines</a></li>
										<li><a href="#">Court Services</a></li>
										<li><a href="#">Consumer Law</a></li>
										<li><a href="#">Glossary</a></li>

									</ul>
								</li>
								<li><a href="/aboutus">ABOUT US</a></li>
								<li><a href="/blog">BLOG</a></li>
								<li><a href="/contacto">CONTACT</a></li>
							</ul>
						</nav>
				</section>
				
                        
                        {% block content %}
						{% endblock content %}
						
										<!-- Footer -->
										<section id="footer">
											<div class="container">
												<div class="row">
													
													<div class="col-4 col-12-medium">
														<section>
															<header>
																<h2>What's this all about?</h2>
															</header>
															<a href="#" class="image featured"><img src="{% static 'images/pic10.jpg' %}" alt="" /></a>
															<p>
																This is <strong>Dopetrope</strong> a free, fully responsive HTML5 site template by
																<a href="http://twitter.com/ajlkn">AJ</a> for <a href="http://html5up.net/">HTML5 UP</a> It's released for free under
																the <a href="http://html5up.net/license/">Creative Commons Attribution</a> license so feel free to use it for any personal or commercial project &ndash; just don't forget to credit us!
															</p>
															<footer>
																<ul class="actions">
																	<li><a href="#" class="button">Find out more</a></li>
																</ul>
															</footer>
														</section>
													</div>
														<div class="col-4 col-6-medium col-12-small">
													   
													</div>
													<div class="col-4 col-12-medium">
														<section>
															<header>
																<h2>Social Media</h2>
															</header>
															<ul class="social">
																<li><a class="icon brands fa-facebook-f" href="#"><span class="label">Facebook</span></a></li>
																<li><a class="icon brands fa-twitter" href="#"><span class="label">Twitter</span></a></li>
																<li><a class="icon brands fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
																<li><a class="icon brands fa-tumblr" href="#"><span class="label">Tumblr</span></a></li>
																<li><a class="icon brands fa-linkedin-in" href="#"><span class="label">LinkedIn</span></a></li>
															</ul>
															<ul class="contact">
																<li>
																	<h3>Address</h3>
																	<p>
																		Untitled Incorporated<br />
																		1234 Somewhere Road Suite<br />
																		Nashville, TN 00000-0000
																	</p>
																</li>
																<li>
																	<h3>Mail</h3>
																	<p><a href="#">someone@untitled.tld</a></p>
																</li>
																<li>
																	<h3>Phone</h3>
																	<p>+1 (877) 204-7543 ext*100</p>
																</li>
															</ul>
														</section>
													</div>
													<div class="col-12">
							
														<!-- Copyright -->
															<div id="copyright">
																<ul class="links">
																	<li>&copy; SmartLegalGroup.inc All rights reserved.</li><li>Design: <a href="#">EMT</a></li>
																</ul>
															</div>
							
													</div>
												</div>
											</div>
										</section>		
				

										
		</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

		

	</body>
</html>